<style>
  .message-container {
    margin: 20px auto;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
  }

  .message-container .link {
    margin: 6px 0;
    padding: 12px 6px;
    background: #FF5E13;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
  }
</style>

<div class="message-container">
  <h1>Olá {{ name }}!</h1>

  <p>Parece que houve uma solicitação para resetar sua senha!</p>
  <p>Se foi você, clique no link abaixo para prosseguir com sua nova senha:</p>

  <a class="link" href="{{link}}">RESETAR MINHA SENHA</a>

  <p>Se não foi você que fez essa solicitação, por favor descarte este e-mail!</p>

  <p>
    Obrigado!
    <br>
    <strong>Equipe GoBarber</strong>
  </p>
</div>
